<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mvp2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - Create S072 reply 
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-one-half ul-padding-left-lrg">
                <div class="nhsuk-grid-row nhsuk-u-margin-bottom-9">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-back-link">
                            <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                            </svg>
                            Go back</a>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend">
                          <h1 class="nhsuk-heading-xl">
                              <span class="nhsuk-caption-l">Cancel the citizens entitlement</span>
                              What is the cancellation reason?
                          </h1>
                          <div class="nhsuk-hint">
                              This S1 or S072 entitlement is being cancelled because:
                          </div>
                        </legend>
                        <div class="nhsuk-radios" data-module="nhsuk-radios">
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason" name="Reason" type="radio" value="died">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason">
                                the customer has died
                              </label>
                          </div>
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason-2" name="decision" type="radio" value="Decision rejected">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason-2">
                                the customer has moved back to the UK 
                              </label>
                          </div>
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason-3" name="decision" type="radio" value="Decision rejected">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason-3">
                                the customer has moved to another country 
                              </label>
                          </div>
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason-4" name="decision" type="radio" value="Decision rejected">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason-4">
                                the customer has moved back to the UK 
                              </label>
                          </div>
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason-5" name="decision" type="radio" value="Decision rejected">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason-5">
                                the dependant is applying for their own S1 or S072
                              </label>
                          </div>
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason-6" name="decision" type="radio" value="Decision rejected">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason-6">
                                the main applicant died, and we need to cancel the dependant's S1 or S072
                              </label>
                          </div>
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason-7" name="decision" type="radio" value="Decision rejected">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason-7">
                                of a suspended UK pension
                              </label>
                          </div>
                          <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="Reason-8" name="Reason" type="radio" value="Other" aria-controls="conditional-contact">
                              <label class="nhsuk-label nhsuk-radios__label" for="Reason-8">
                                Other
                              </label>
                          </div>
                          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label" for="Other">
                                Other reason
                              </label>
                              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="Other" name="Other" type="text">
                            </div>
                          </div>
                          <!-- conditional test start
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="contact" name="contact" type="radio" value="email" aria-controls="conditional-contact" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="contact">
                              Email
                            </label>
                          </div>
                          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label" for="email">
                                Email address
                              </label>
                              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                            </div>
                          </div>
                          conditional test end-->
                        </div>
                    </fieldset>
                </div>
                
                <a href="cancellation-date">
                    <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                        Continue
                    </button>
                </a>

                <p><a href="case-cancel-entitlement">Cancel</a></p>

            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/javascripts/nhsuk-frontend.d4eb03c.min.js" type="module"></script>
<script src="/javascripts/preview.b2f9366.min.js" type="module"></script>
<script type="module">
    import { initAll } from '/javascripts/nhsuk-frontend.d4eb03c.min.js'
    initAll({
      errorSummary: {
        disableAutoFocus: true
      },
      notificationBanner: {
        disableAutoFocus: true
      }
    })
  </script>
  {% endblock %}
