<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mvp2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - Create S016
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-three-quarters ul-padding-left-lrg">
                <div class="nhsuk-grid-row nhsuk-u-margin-bottom-9">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-back-link">
                            <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                            </svg>
                            Go back</a>
                        </div>
                    </div>
                </div>
                <h1 class="app-page-heading">
                    <span class="nhsuk-caption-l">
                        Create S016
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>
                    What is the cancellation date?
                </h1>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        <label class="nhsuk-label" for="example">
                            Date
                        </label>
                        <div class="nhsuk-date-input" id="example">
                            <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example[day]" value="" type="text" inputmode="numeric">
                            </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" value="" id="example-month" name="example[month]" type="text" inputmode="numeric">
                            </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" value="" name="example[year]" type="text" inputmode="numeric">
                            </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <a href="create-s016-cancel-reason">
                    <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                        Continue
                    </button>
                </a>
                
                <p><a href="#">Cancel</a></p>

                <p class="nhsuk-u-margin-top-9">SED API version: 0.16.3 build preview 1, Model version: 4.3.0</p>

            </div>
        </div>

       
    </div>
</div>
{% endblock %}
