////////////  Notes  ////////////////
/// NHS main wrapper - I turned off the padding top 48px as this was causing extra padding in SEDs
/// Breadcrumb - I added extra 16px padding to left
/// 
/// 
/// 
/// 
/// 
/// 
.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
  }
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.no-padding .nhsuk-grid-column-three-quarters, .no-padding .nhsuk-grid-column-one-half, .no-padding {
    padding: 0;
}
.ul-padding-top-lrg {
    padding-top: 48px;
}
.ul-padding-left-lrg {
    padding-left: 32px;
}
.ul-padding-left-md {
    padding-left: 16px;
}
.ul-padding-right-md {
    padding-right: 16px;
}
.nhsuk-main-wrapper {
    padding-top: 0;
}
.nhsuk-index-container {
    margin: 0 auto;
    max-width: 960px;
}
//   Header   //
.nhsuk-header__container {
    padding: 20px 0;
}
.visually-hidden {
    visibility: hidden;
}
.nhsuk-header__content {
    float: right;
}
.nhsuk-header__logo--only .nhsuk-header__link--service {
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    margin-bottom: 0;
    width: auto;
}
.margin-left-right-lrg {
    margin: 0 32px;
}
.nhsuk-header__transactional .nhsuk-logo {
    height: 40px;
    width: 100px;
}
.nhsuk-header__logo a {
    display: block;
}
.nhsuk-breadcrumb {
    background-color: #ffffff;
    padding: 0;
}
.nhsuk-breadcrumb__list {
    padding: 16px 0 16px 16px;
}
.nhsuk-breadcrumb .nhsuk-back-link, .manage-case-list {
    margin-bottom: 0;
}
//   Case actions menu CSS //
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    margin-top: 16px;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #d8dde0;
  }
  .dropdown-content a:last-child {
    border-bottom: 0;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .reposition-right-menu {
    right: 14px;
  }
.manage-case-list .nhsuk-breadcrumb__item:not(:last-child):after {
    background: none;
}
.nhsuk-width-container-fluid {
    margin: 0 16px;
    max-width: 100%;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
div {
    display: block;
    unicode-bidi: isolate;
}
header {
    display: block;
    unicode-bidi: isolate;
    position: relative;
    max-width: 100%
}
.nhsuk-header__logo {
    float: left;
    margin-left: 16px;
}
.nhsuk-width-container, .nhsuk-header__container {
    max-width: 100% !important;
}

// Styles for the Prototype index page  //

.nhsuk-width-prstart-container {
    margin: 0 16px;
    max-width: 960px;
}
.nhsuk-main-wrapper {
    //padding-top: 48px !important;
    padding-bottom: 0;
}
.nhsuk-card {
    margin-bottom: 40px;
    background: #ffffff;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%;
}
.nhsuk-card__content {
    padding: 32px;
}

// Styles for notification banners //

.govuk-notification-banner {
    border: 5px solid #1d70b8;
    margin-bottom: 30px;

    .govuk-notification-banner__content {
        padding: 20px;
    }
    .govuk-notification-banner__content>:last-child {
        margin-bottom: 0px;
    }
}

// styles for Case management //

.nhsuk-table .nhsuk-grid-column-one-third {
    padding: 0 0;
}
.ohs-status-pensioner {
    color:#007f3b;
    padding-right: 20px;
    display: block;
}
table.ohs-match-record-table-font-size .nhsuk-table__cell, table.ohs-match-record-table-font-size .nhsuk-table__head {
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}
table.ohs-match-record-table-font-size .nhsuk-table__cell .nhsuk-button--secondary {
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    margin-bottom: 16px;
    padding: 8px 16px;
}
.ohs-table-no-last-row-border th, .ohs-table-no-last-row-border td, .ohs-table-no-last-row-border dt,.ohs-table-no-last-row-border dd {
    border-bottom: 0;
}
.remove-margin-bottom {
    margin-bottom: 0;
}
.ohs-match-highlight {
    background-color: #cce5d8;
}

// Timeline styles //

.nhsuk-timeline__events {
    border-left: 3px solid #005eb8;
    list-style-type: none;
    padding: 0;
    padding-left: 15px;
    margin-left: 16px;
    margin-top: 8px;
}
.nhsuk-timeline__events--entry {
    margin: 32px 0;
    padding-left: 16px;
    position: relative;
    top: -12px;
}
.nhsuk-timeline__title {
    display: inline;
    font-size: 20px;
    font-size: 1.5rem;
}
.nhsuk-timeline__date {
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 18px;
}
.nhsuk-timeline__header > .flag {
    position: absolute;
    top: 11px;
    left: -32px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-size: calc(100% + 2px);
    background-position: center;
    height: 32px;
    width: 32px;
    outline: 4px solid #005eb8;
}
.flag-uk {
    background-image: url('/images/flag-uk.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 20px;
    vertical-align: middle;
    margin-right: 6px;
}
.icon-ogl {
    background-image: url('/images/icon-ogl.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    width: 41px;
    vertical-align: middle;
    margin-right: 14px;
}
.icon-copy {
    background-image: url('/images/icon-copy.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 25%;
    vertical-align: middle;
    padding-right: 26px;
}
.flag-no {
    background-image: url('/images/flag-no.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 20px;
    vertical-align: middle;
    margin-right: 6px;
}
.flag-fr {
    background-image: url('/images/flag-fr.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 20px;
    vertical-align: middle;
    margin-right: 6px;
}
.icon-file {
    background-image: url('/images/icon-file.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 6px;
}
#timeline ol li ul.nhsuk-list li, #timeline ol li ul.nhsuk-list {
    border: none;
}
#timeline ol li ul li ul {
    //border-left: 3px solid white;
}
#timeline ol li ul li ul li {
    list-style:none;
}
.icon-copy span {
    padding-left: 26px;
}
.institute-name {
    display: inline-block;
    width: 75%;
}
.nhs-button--copy-clipboard {
    margin-top: 26px;
}
.nhsuk-timeline__byline {
    display: inline;
    color: #4c6272;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
}
.nhsuk-details__summary-text {
    text-decoration: underline;
    font-size: 1rem;
    line-height: 1.5rem;
}
.nhsuk-details__text-attach {
    padding-left: 0;
}
.nhsuk-list li a, .nhsuk-list li p {
    font-size: 1rem;
}
.nhsuk-list li p {
    margin-bottom: 0;
}
@media (min-width: 40.0625em) {
    .nhsuk-summary-list__key {
        width: 40%;
    }
}

/****************  MVP-2 user flow screens ***************/
.nhsBSA-sidebar-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 99px);
    margin: 0 !important;
    padding: 0;
}

.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper {
    flex: 1 0 auto;
    display: flex;
}

.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsuk-header__navigation {
    //background-color: #d8dde0;
    width: 300px;
    order: -1;
    margin: 0;
    padding-left: 32px;
}
.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content {
    flex: 1;
    background-color: #f0f4f5;
    padding: 0px;
    margin: 0px;
}

// MVP 1 matched OHS record styles  \\

.nhsuk-card__content--secondary {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.nhsuk-label--s {
    display: block;
}
.nhsuk-table__body a {
    color: #005eb8;
}
// Create S045 entitlement //

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid transparent;
}
.govuk-notification-banner__header a {
    color: #fff;
}
.govuk-notification-banner__title {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    margin: 0;
    padding: 0;
    color: #fff;
    display: inline;
}
.govuk-notification-banner--important .govuk-notification-banner__header {
    background-color: #1d70b8;
}
.govuk-notification-banner--success {
    border-color: #00703c;
    background-color: #00703c;
}
.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}
.icon-svg-envelope {
    display: inline-block; 
    background-image: url('../images/icon-ver2-envelope.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    height: 16px; 
    width: 20px;  
    vertical-align: middle;
    margin-right: 6px;
}
.ms-received {
    background-image: url('../images/icon-received-envelope.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    display: inline-block; 
    height: 16px; 
    width: 20px;  
    vertical-align: middle;
    margin-right: 6px;
}

// Footer  fix //
.nhsuk-footer__list-item {
    float: left;
    margin-right: 32px;
}

.nhsuk-footer {
    padding-bottom: 24px;
    padding-top: 24px;
    display: block;
    background-color: #d8dde0;
    border-top: 4px solid #005eb8;
    //justify-content: space-between;
}
.nhsuk-footer p {
    font-size: 1rem;
}
.nhsuk-footer .nhsuk-width-container {
    width: 100%;
    margin: 0 32px;
}
.nhsuk-footer__copyright {
    float: right;
    text-align: right;
    width: 25%;
}
.dropdown__toggle-button {
    background-color: #fff;
    border: none;
    color: #005eb8;
    font-size: 1rem;
    overflow: hidden;
    line-height: 1.5;
    padding: 21px 12px 20px 12px;
}
.dropdown-content a:focus {
    border-color: #ffdd00;
    outline: 3px solid #ffdd00;
    box-shadow: inset 0 0 0 1px #ffdd00;
}
.dropdown__toggle-button:after {
    background-repeat: no-repeat;
    background-image: url(../images/icon-arrow-black-down.svg);
    content: "";
    fill: #005eb8;
    display: inline-block;
    height: 5px;
    margin-left: 10px;
    width: 10px;
    vertical-align: middle;
}
.dropdown [role=menuitem]:hover {
    background-color: #b1b4b6;
}
.no-border-left {
    border-left: none;
}


//////////////////////////////////////////////
/// SED styles ///////
/////////////////////////////////////////////

.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content {
    flex: 1;
    background-color: #f0f4f5;
    padding: 0px;
    margin: 0px;
    padding-top: 48px;
    padding-bottom: 0;
}
.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-nav {
    width: 300px;
    order: -1;
    background-color: #d8dde0;
    margin: 0;
}

//////////// SED form ///////////////
.nhsBSA-sidebar-nav .nhsuk-back-link {
    padding: 16px 16px 0 32px;
}

// Side bar nav styles  //

.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper ul.nhsuk-header__navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul.sidebar-nav {
    display: inline-block ;
}
ul.sidebar-nav li.nhsuk-header__navigation-list {
    display: block ;
}
.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsuk-header__navigation {
    width: 300px;
    order: -1;
    background-color: #d8dde0;
    margin: 0;
    padding-right: 16px;
}
.nhsuk-header__navigation-list {
    list-style: none;
    margin: 0;  
}
.nhsuk-header__navigation-list {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: space-between;
    padding-left: 16px;
    width: 100%;
}
ul.sidebar-nav .nhsuk-header__navigation-link {
    color: #005eb8;
    font-size: 1.1875rem;
    line-height: 1.47368;
    padding-left: 32px; 
    white-space: normal; 
}
.js-enabled li.nhsuk-header__navigation-list {
    display: inline-block;
}
.nhsuk-header__navigation-list li a {
    text-decoration: none;
}
ul.sidebar-nav li.nhsuk-header__navigation-link:hover, ul.sidebar-nav li.nhsuk-header__navigation-link:visited {
    color: #005eb8 !important;
}
.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsuk-header__navigation ul li:last-of-type {
    border-bottom: 1px solid #ccc;
}
ul.sidebar-nav .nhsuk-header__navigation-item {
    border-bottom: 1px solid #ccc;  
}
ul.sidebar-nav .active {
    border-left: 8px solid #005eb8; 
}
.done-panel {
    background-color: #005EB8;
    text-align: center;
    color: white;
    padding: 30px;
    margin: 0px 0px 30px 0px;
}

.autocomplete__list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}
.autocomplete__list .autocomplete__selected-option, .autocomplete__list .autocomplete__selected-option:hover {
    cursor: inherit;
    color: #0b0c0c;
    margin: 5px 0;
}
.autocomplete__selected-option {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8dde0;
    padding-bottom: 8px;
}
.autocomplete__list .autocomplete__remove-option {
    cursor: pointer;
    color: #005eb8;
    text-decoration: underline;
    background: 0 0;
    border: 0;
    font-size: inherit;
    /* margin-left: 5px; */
    padding: 0px;
}

// conditional checkboxes //

.nhsuk-fieldset__legend--s {
    font-weight: 400;
}
.nhsuk-checkboxes__conditional {
    margin-bottom: 24px;
}
.nhsuk-checkboxes__conditional {
    margin-bottom: 16px;
    border-left: 4px solid #4c6272;
    margin-left: 18px;
    padding-left: 30px;
}
.nhsuk-checkboxes__conditional--hidden {
    display: none;
}
.nhsuk-input--width-20 {
    width: 398px !important;
}

//     Work queue styles //

#work-queue-nav .nhsuk-header__navigation li.nhsuk-header__navigation-item a.nhsuk-header__navigation-link, .work-queue-nav .nhsuk-header__navigation li a.nhsuk-header__navigation-link :hover {
    color: #005eb8;
}
#work-queue-nav .nhsuk-header__navigation-item {
    border-bottom: 4px solid #f0f4f5 !important;
}

.nhsuk-header__navigation-list .nhsuk-header__navigation-item a.nhsuk-header__navigation-link {
    color: #005eb8 !important;
}

// Pagination //

.nhsuk-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nhsuk-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nhsuk-pagination__link:focus {
    background-color: #ffeb3b;
    box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
}
.nhsuk-pagination__item:hover, .nhsuk-pagination__next:hover, .nhsuk-pagination__prev:hover {
    background-color: #f3f2f1;
}
.nhsuk-pagination__item--current:hover {
    background-color: #1d70b8;
}
.nhsuk-pagination__item, .nhsuk-pagination__next, .nhsuk-pagination__prev {
    box-sizing: border-box;
    position: relative;
    min-width: 45px;
    min-height: 45px;
    padding: 10px 15px;
    float: left;
}
.nhsuk-pagination__next, .nhsuk-pagination__prev {
    font-weight: 700;
}
.nhsuk-pagination__item--current, .nhsuk-pagination__item--ellipses, .nhsuk-pagination__item:first-child, .nhsuk-pagination__item:last-child {
    display: block;
}
.nhsuk-pagination__item--current {
    font-weight: 700;
    outline: 1px solid rgba(0, 0, 0, 0);
    background-color: #1d70b8;
}
.nhsuk-pagination__item--current .nhsuk-pagination__link:link, .nhsuk-pagination__item--current .nhsuk-pagination__link:visited {
    color: #fff;
}
.nhsuk-pagination__item--ellipses {
    font-weight: 700;
    color: #505a5f;
}
.nhsuk-pagination__item--ellipses:hover {
    background-color: initial;
}
@media (min-width: 40.0625em) {
    .nhsuk-pagination__item, .nhsuk-pagination__next, .nhsuk-pagination__prev {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}
@media (min-width: 40.0625em) {
    .nhsuk-pagination {
        margin-bottom: 30px;
        flex-direction: row;
        align-items: flex-start;
    }
}
.nhsuk-fieldset__heading {
    font-size: 3rem !important;
}
