<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends '../layout-mvp2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">

    <!-- Start of central content -->
     <div class="nhsBSA-sidebar-wrapper">
      <nav class="nhsuk-header__navigation nhsuk__nav-list" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation" style="padding-top: 46px;">
        <p class="nhsuk-header__navigation-title">
          <span id="label-navigation">Menu</span>
        </p>
        <ul class="nhsuk-header__navigation-list">
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 00</span><span class="nhsuk__nav-list-counter">23</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 00</span><span class="nhsuk__nav-list-counter">53</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 00</span><span class="nhsuk__nav-list-counter">123</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link active" href="#">
                  <span class="nhsuk__nav-list-name">SBUC 00</span><span class="nhsuk__nav-list-counter">234</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 00</span><span class="nhsuk__nav-list-counter">23</span>
              </a>
          </li>
        </ul>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <h4 class="nhsuk-heading-m nhsuk-u-margin-left-3 nhsuk-u-margin-top-6">Quick actions</h4>

            <ul class="nhsuk-header__navigation-list">
              <li class="nhsuk-header__navigation-item">
                  <a class="nhsuk-header__navigation-link " href="#">
                      <span class="nhsuk__nav-list-name">Create a new case</span>
                  </a>
              </li>

              <li class="nhsuk-header__navigation-item">
                  <a class="nhsuk-header__navigation-link " href="#">
                      <span class="nhsuk__nav-list-name">Create H001</span>
                  </a>
              </li>
            </ul>
          </div>
          <hr style="margin:24px 0px;">
        </div>
      </nav>
      
      <div class="nhsBSA-sidebar-content" style="padding-top: 17px;">
        <div class="nhsuk-width-container-fluid">
          <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <span class="nhsuk-caption-l nhsuk-u-margin-top-6">Work queue</span>
            <h1 class="nhsuk-heading-xl">SBUC 00</h1>
            
            <div class="nhsuk-grid-row">

              <div class="nhsuk-grid-column-full">
                <details class="nhsuk-details nhsuk-expander">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Search for a case
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">

                    <div class="nhsuk-grid-column-one-half" style="padding-left: 0;">

                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="first-name">
                          First name
                        </label>
                        <input class="nhsuk-input " id="first-name" name="first-name" type="text" value="Krishna">
                      </div>

                    </div>

                    <div class="nhsuk-grid-column-one-half" style="padding-left: 0;">

                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="last-name">
                          Last name
                        </label>
                        <input class="nhsuk-input " id="last-name" name="last-name" type="text" value="Patel">
                      </div>

                    </div>
                            
                    <button class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="search">
                      Search
                    </button>

                  </div>
                </details>
              </div>

              <!-- Start work queue case list -->

              <div class="nhsuk-grid-column-full" id="results">
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">
                    <!-- Start header block-->
                    <div class="nhsuk-grid-row nhsuk-u-padding-bottom-2">
                      <div class="nhsuk-grid-column-full">
                        <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Showing results for SBUC 1</h3>
                        <hr style="margin:24px 0px;">
                      </div>

                      <!-- Start of filter and sort options -->

                      <div class="nhsuk-grid-column-two-thirds">
                        <details class="nhsuk-details nhsuk-u-margin-bottom-4">
                          <summary class="nhsuk-details__summary">
                            <span>
                              Filter and sort options
                            </span>
                          </summary>
                          <div class="nhsuk-details__text">
                            <div class="nhsuk-grid-row">
                              <!-- Start filter by recent cases-->
                              <div class="nhsuk-grid-column-one-third">
                                <div class="nhsuk-form-group">
                                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                      <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                        Filter by status
                                      </h1>
                                    </legend>
                                    <div class="nhsuk-checkboxes">
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-open" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-open">
                                          Open
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-pending" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-pending">
                                          Pending
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-evidence" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-evidence">
                                          Evidence requested
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-review" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-review">
                                          Requires review
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-closed" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-closed">
                                          Closed
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-archived" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-archived">
                                          Archived
                                        </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                              <!-- End filter by-->
                              <!-- Start by order results-->
                              <div class="nhsuk-grid-column-one-third">
                                <div class="nhsuk-form-group">
                                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                      <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                        Filter by
                                      </h1>
                                    </legend>
                                    <div class="nhsuk-checkboxes">
                                      
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-assign" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-assign">
                                          Assigned to me
                                        </label>
                                      </div>

                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-recent" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-recent">
                                          Recent cases
                                        </label>
                                      </div>

                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="main-filter" name="main-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="main-filter">
                                          Main
                                        </label>
                                      </div>

                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="dependant-filter" name="dependant-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="dependant-filter">
                                          Dependant
                                        </label>
                                      </div>

                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                              <!-- End by order results-->

                              <!-- Start by order results-->
                              <div class="nhsuk-grid-column-one-third">
                                <div class="nhsuk-form-group">
                                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                      <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                        Order cases
                                      </h1>
                                    </legend>
                                    <div class="nhsuk-radios">
                                      <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="order-by-asc" name="order-by" type="radio" value="ascending">
                                        <label class="nhsuk-label nhsuk-radios__label" for="order-by-asc">
                                          Ascending
                                        </label>
                                      </div>
                                      <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="order-by-desc" name="order-by" type="radio" value="descending">
                                        <label class="nhsuk-label nhsuk-radios__label" for="order-by-desc">
                                          Descending
                                        </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                              <!-- End by order results-->
                              <div class="nhsuk-grid-column-full">
                                <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                                  Apply filters
                                </button>
                                <p class="nhsuk-u-margin-bottom-0"><a href="">Reset all filters</a></p>
                              </div>
                            </div>
                          </div>
                        </details>
                      </div>

                      <!-- Start of results viewing options -->

                      <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group" style="float: right;">
                          <label class="nhsuk-label" for="results" style="line-height:35px;display: inline-block;padding-right:12px;">
                            Results per page
                          </label>
                          <select class="nhsuk-select" id="results" name="results" style="min-width: auto;">
                            <option value="10" selected="">10</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                          </select>
                        </div>
                      </div>

                    </div>

                    <!-- End of header block -->

                    <!-- Start of table data -->

                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-full">
                        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
                          <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                              <th role="columnheader" class="" scope="col">
                                Case ID
                              </th>
                              <th role="columnheader" class="" scope="col">
                                First name
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Last name
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Applicant
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Status
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Assigned
                              </th>
                              <th role="columnheader" class="" scope="col" style="text-align: right;">
                                Actions
                              </th>
                            </tr>
                          </thead>

                          <!-- first row -->

                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>10234
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>Krishna
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Patel
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>Main
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span> <strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="mvp2-dep-main-s071-received">Manage case</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>

                    <!-- End of table data -->
        
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
</div>

{% endblock %}