<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends '../layout-mvp2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">

    <!-- Start of central content -->
     <div class="nhsBSA-sidebar-wrapper">
      <nav class="nhsuk-header__navigation nhsuk__nav-list" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation" style="padding-top: 46px;">
        <p class="nhsuk-header__navigation-title">
          <span id="label-navigation">Menu</span>
        </p>
        <ul class="nhsuk-header__navigation-list">
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 01</span><span class="nhsuk__nav-list-counter">23</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 01a</span><span class="nhsuk__nav-list-counter">53</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 02</span><span class="nhsuk__nav-list-counter">123</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link active" href="#">
                  <span class="nhsuk__nav-list-name">SBUC 03</span><span class="nhsuk__nav-list-counter">234</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 04</span><span class="nhsuk__nav-list-counter">23</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">SBUC 05</span><span class="nhsuk__nav-list-counter">34</span>
              </a>
          </li>
          <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link " href="#">
                  <span class="nhsuk__nav-list-name">HBUC 01</span><span class="nhsuk__nav-list-counter">12</span>
              </a>
          </li>
        </ul>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <h4 class="nhsuk-heading-m nhsuk-u-margin-left-3 nhsuk-u-margin-top-6">Quick actions</h4>

            <ul class="nhsuk-header__navigation-list">
              <li class="nhsuk-header__navigation-item">
                  <a class="nhsuk-header__navigation-link " href="#">
                      <span class="nhsuk__nav-list-name">Create a new case</span>
                  </a>
              </li>
            </ul>
          </div>
          <hr style="margin:24px 0px;">
        </div>
      </nav>
      
      <div class="nhsBSA-sidebar-content" style="padding-top: 17px;">
        <div class="nhsuk-width-container-fluid">
          <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <span class="nhsuk-caption-l nhsuk-u-margin-top-6">Work queue</span>
            <h1 class="nhsuk-heading-xl">SBUC 01</h1>
            
            <div class="nhsuk-grid-row">

              <div class="nhsuk-grid-column-full">
                <details class="nhsuk-details nhsuk-expander clearfix">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Search for a case
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">

                    <div class="nhsuk-grid-column-one-half" style="padding-left: 0;">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="first-name">
                          First name
                        </label>
                        <input class="nhsuk-input " id="first-name" name="first-name" type="text" value="">
                      </div>
                      
                      <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                          <label class="nhsuk-label" for="example">
                            Date of birth
                          </label> 
                          </legend>
                          <div class="nhsuk-hint" id="example-hint">
                          For example, 15 3 1984
                          </div>
                          <div class="nhsuk-date-input" id="example">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                              Day
                            </label> 
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example[day]" type="text" inputmode="numeric" value="">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                              Month
                            </label> 
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example[month]" type="text" inputmode="numeric" value="">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                              Year
                            </label> 
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example[year]" type="text" inputmode="numeric" value="">
                            </div>
                          </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half" style="padding-left: 0;">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="last-name">
                        Last name
                        </label>
                        <input class="nhsuk-input " id="last-name" name="last-name" type="text" value="">
                      </div>
                    </div>

                    <div class="nhsuk-grid-column-full" style="padding-left:0;">
                      <hr style="margin:16px 0;">
                      <div class="nhsuk-hint" id="example-hint">
                        Or local or international case ID, local PIN, cast status, or country.
                      </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half" style="padding-left: 0;">	
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="example">
                          Local or international case ID
                        </label> 
                        <input class="nhsuk-input" id="example" name="example" type="text">
                      </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half">	
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="example">
                          Local PIN
                        </label> 
                        <input class="nhsuk-input" id="example" name="example" type="text">
                      </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half" style="padding-left: 0;">
                      <form>
                        <div class="nhsuk-form-group">
                          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                            <label class="nhsuk-label">
                            Case status
                            </label>
                            <div class="nhsuk-checkboxes">

                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                  Open
                                </label>
                              </div>

                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                                  Pending
                                </label>
                              </div>

                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                                  Evidence requested
                                </label>
                              </div>

                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-4" name="example" type="checkbox" value="text message">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-4">
                                  Review evidence
                                </label>
                              </div>

                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-5" name="example" type="checkbox" value="text message">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-5">
                                  Closed
                                </label>
                              </div>

                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-6" name="example" type="checkbox" value="text message">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-6">
                                  Archived
                                </label>
                              </div>

                            </div>
                          </fieldset>
                        </div>
                      </form>
                    </div>

                    <div class="nhsuk-grid-column-one-half">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="example">
                            Country
                        </label>
                        <select class="nhsuk-select nhsuk-input--width-20" id="select-1" name="select-1">
                            <option value="0"></option>
                            <option value="1">[AT] Austria</option>
                            <option value="2">[BE] Belgium</option>
                            <option value="3" >[BG] Bulgaria</option>
                            <option value="4" >[HR] Croatia</option>
                            <option value="5" >[CY] Cyprus</option>
                            <option value="6" >[CZ] Czechia</option>
                            <option value="7" >[DK] Denmark</option>
                            <option value="8" >[EE] Estonia</option>
                            <option value="9" >[FI] Finland</option>
                            <option value="10" >[FR] France</option>
                            <option value="11" >[DE] Germany</option>
                            <option value="12" >[EL] Greece</option>
                            <option value="13" >[HU] Hungary</option>
                            <option value="14" >[IS] Iceland</option>
                            <option value="15" >[IE]Ireland</option>
                            <option value="16" >[IT] Italy</option>
                            <option value="17" >[LV] Latvia</option>
                            <option value="18" >[LI] Liechtenstein</option>
                            <option value="19" >[LU] Lithuania</option>
                            <option value="20" >[LU] Luxembourg</option>
                            <option value="21" >[MT] Malta</option>
                            <option value="22" >[NL] Netherlands</option>
                            <option value="23" >[NO] Norway</option>
                            <option value="24" >[PL] Poland</option>
                            <option value="25" >[PT] Portugal</option>
                            <option value="26" >[RO] Romania</option>
                            <option value="27" >[SK] Slovakia</option>
                            <option value="28" >[SI] Slovenia</option>
                            <option value="29" >[ES] Spain</option>
                            <option value="30" >[SE] Sweden</option>
                            <option value="31" >[CH] Switzerland</option>
                            <option value="32" >[UK] United Kingdom</option>
                        </select> 
                      </div> 
                    </div>

                    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4" style="padding-left:0px;">
                      <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                        Search
                      </button>
                    </div>

                  </div>
                </details>
              </div>

              <!-- Start work queue case list -->

              <div class="nhsuk-grid-column-full" id="results">
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">
                    <!-- Start header block-->
                    <div class="nhsuk-grid-row nhsuk-u-padding-bottom-2">
                      <div class="nhsuk-grid-column-full">
                        <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Showing results for SBUC 1</h3>
                        <hr style="margin:24px 0px;">
                      </div>

                      <!-- Start of filter and sort options -->

                      <div class="nhsuk-grid-column-two-thirds">
                        <details class="nhsuk-details nhsuk-u-margin-bottom-4">
                          <summary class="nhsuk-details__summary">
                            <span>
                              Filter and sort options
                            </span>
                          </summary>
                          <div class="nhsuk-details__text">
                            <div class="nhsuk-grid-row">
                              <!-- Start filter by recent cases-->
                              <div class="nhsuk-grid-column-one-third">
                                <div class="nhsuk-form-group">
                                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                      <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                        Filter by status
                                      </h1>
                                    </legend>
                                    <div class="nhsuk-checkboxes">
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-open" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-open">
                                          Open
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-pending" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-pending">
                                          Pending
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-evidence" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-evidence">
                                          Evidence requested
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-review" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-review">
                                          Requires review
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-closed" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-closed">
                                          Closed
                                        </label>
                                      </div>
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-archived" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-archived">
                                          Archived
                                        </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                              <!-- End filter by-->
                              <!-- Start by order results-->
                              <div class="nhsuk-grid-column-one-third">
                                <div class="nhsuk-form-group">
                                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                      <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                        Filter by
                                      </h1>
                                    </legend>
                                    <div class="nhsuk-checkboxes">
                                      
                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-assign" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-assign">
                                          Assigned to me
                                        </label>
                                      </div>

                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="status-filter-recent" name="status-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="status-filter-recent">
                                          Recent cases
                                        </label>
                                      </div>

                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="main-filter" name="main-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="main-filter">
                                          Pensioner
                                        </label>
                                      </div>

                                      <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="dependant-filter" name="dependant-filter" type="checkbox" value="">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="dependant-filter">
                                          Family member of a pensioner
                                        </label>
                                      </div>

                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                              
                              <!-- End by order results-->

                              <!-- Start by order results-->
                              <div class="nhsuk-grid-column-one-third">
                                <div class="nhsuk-form-group">
                                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                      <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                        Order cases
                                      </h1>
                                    </legend>
                                    <div class="nhsuk-radios">
                                      <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="order-by-asc" name="order-by" type="radio" value="ascending">
                                        <label class="nhsuk-label nhsuk-radios__label" for="order-by-asc">
                                          Ascending
                                        </label>
                                      </div>
                                      <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="order-by-desc" name="order-by" type="radio" value="descending">
                                        <label class="nhsuk-label nhsuk-radios__label" for="order-by-desc">
                                          Descending
                                        </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                              <!-- End by order results-->
                              <div class="nhsuk-grid-column-full">
                                <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                                  Apply filters
                                </button>
                                <p class="nhsuk-u-margin-bottom-0"><a href="">Reset all filters</a></p>
                              </div>
                            </div>
                          </div>
                        </details>
                      </div>

                      <!-- Start of results viewing options -->

                      <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group" style="float: right;">
                          <label class="nhsuk-label" for="results" style="line-height:35px;display: inline-block;padding-right:12px;">
                            Results per page
                          </label>
                          <select class="nhsuk-select" id="results" name="results" style="min-width: auto;">
                            <option value="10" selected="">10</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                          </select>
                        </div>
                      </div>

                    </div>

                    <!-- End of header block -->

                    <!-- Start of table data -->

                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-full">
                        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
                          <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                              <th role="columnheader" class="" scope="col">
                                Case ID
                              </th>
                              <th role="columnheader" class="" scope="col">
                                First name
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Last name
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Country
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Applicant
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Status
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Assigned
                              </th>
                              <th role="columnheader" class="" scope="col" style="text-align: right;">
                                Actions
                              </th>
                            </tr>
                          </thead>

                          <!-- first row -->

                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>10229
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>Nevetha
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Patel
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Austria
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 02/04/2025 at 12:34</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span> <strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="mvp2-dep-s071-received">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- second row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>10219
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>Elin
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Beddoe
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>France
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>	Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-2">Assigned</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 03/04/2025 at 16:42</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span> Nasmth
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">View case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- third row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>10207
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>Emma
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Larsen
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Belgium
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>	Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 03/04/2025 at 19:23</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span> <strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- fourth row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>9054
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>Graeme
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Rutherford
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Greece
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>	Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 03/04/2025 at 21:11</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- fifth row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>10202
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>Kenneth
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Branagh
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Lithuania
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 06/04/2025 at 11:21</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- sixth row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>10213
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>Kasi
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Abara
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Latvia
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant</span>Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open </strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action</span>
                                <span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 07/04/2025 at 15:19</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">PIN </span><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- seventh row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>00000
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>First name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Last name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Malta
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>	Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 08/04/2025 at 22:19</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- eighth row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>00000
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>First name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Last name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Netherlands
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>	Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 09/04/2025 at 08:19</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- ninth row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>00000
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>First name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Last name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Poland
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>	Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 10/04/2025 at 05:21</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                          <!-- tenth row -->
                          
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">ID </span>00000
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">First name </span>First name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Last name </span>Last name
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Country </span>Portug
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Applicant </span>	Dependant
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span></span><strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Open</strong><br/>
                                <span class="nhsuk-table-responsive__heading">Last action </span><span class="nhsuk-u-font-size-14" style="font-size: 0.875rem !important;">Received 12/04/2025 at 06:12</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Assigned </span><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Unassigned</strong>
                              </td>
                              <td role="cell" class="nhsuk-table__cell" style="text-align: right;">
                                <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Manage case</a>
                              </td>
                            </tr>
                          </tbody>

                        </table>

                        <!-- pagination start -->

                        <div class="nhsuk-grid-row">
                          <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        
                              <div class="nhsuk-pagination__prev">
                                <!-- <a class="nhsuk-link nhsuk-pagination__link" href="#" rel="prev">
                                    <svg class="nhsuk-pagination__icon nhsuk-pagination__icon--prev"
                                      xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
                                      viewBox="0 0 15 13">
                                      <path
                                        d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                                      </path>
                                    </svg>
                                    <span class="nhsuk-pagination__link-title">Previous<span class="nhsuk-visually-hidden">
                                        page</span></span></a> -->
                              </div>
        
                              <ul class="nhsuk-pagination__list">
                                <li class="nhsuk-pagination__item nhsuk-pagination__item--current">
                                  <a class="nhsuk-link nhsuk-pagination__link" href="#" aria-label="Page 1">
                                    1
                                  </a>
                                </li>
                                <li class="nhsuk-pagination__item">
                                  <a class="nhsuk-link nhsuk-pagination__link" href="pagination-v1-page-2" aria-label="Page 2">
                                    2
                                  </a>
                                </li>
                                <li class="nhsuk-pagination__item ">
                                  <a class="nhsuk-link nhsuk-pagination__link" href="pagination-v1-page-3" aria-label="Page 3" aria-current="page">
                                    3
                                  </a>
                                </li>
                                <li class="nhsuk-pagination__item nhsuk-pagination__item--ellipses">⋯</li>
                                <li class="nhsuk-pagination__item">
                                  <a class="nhsuk-link nhsuk-pagination__link" href="pagination-v1-page-7" aria-label="Page 7">
                                    7
                                  </a>
                                </li>
                              </ul>
        
                              <div class="nhsuk-pagination__next">
                                <a class="nhsuk-link nhsuk-pagination__link" href="pagination-v1-page-2" rel="next"> <span class="nhsuk-pagination__link-title">Next<span class="nhsuk-visually-hidden">
                                      page</span></span>
                                  <svg class="nhsuk-pagination__icon nhsuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                                    </path>
                                  </svg></a>
                              </div>
        
                            </nav>
                          </div>
                        </div>

                      </div>
                    </div>

                    <!-- End of table data -->
        
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
</div>

{% endblock %}