<style>
  header, footer, .nhsuk-footer {
    visibility: hidden;
    display: none;
  }
  .nhsuk-footer {
    visibility: hidden;
    display: none;
  }
  .nhsuk-main-wrapper {
    background-color: #ffffff !important;
  }
  .ohs-img {
    background-image: url("../images/ohs-screen-4.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 1130px;
    height: 963px;
  }
</style>


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<a href="ohs-case-5"><div class="ohs-img" style="text-align:center; margin: 0 auto;"></div></a>

{% endblock %}

