<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends '../layout-mvp2-dep-happy.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - Search for an OHS record
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container margin-left-right-lrg ul-padding-top-lrg">

    <div class="nhs-main-wrapper">

        <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-full">

                <div class="nhsuk-back-link nhsuk-u-margin-bottom-9">
                    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                    </svg>
                    Go back</a>
                </div>

                <!-- notification start-->

                <!--<div id="govuk-notification-banner"
                class="govuk-notification-banner govuk-notification-banner--success nhsuk-u-margin-bottom-9" role="alert"
                aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                        </h2>
                        <a href="#" style="float: right;" onclick="closeBanner()">Close</a>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-body">Dependant S072 entitlement has been issued in OHS and added to the main entitlement</p>
                    </div>
                </div>

                notification end-->

                <h1 class="app-page-heading">What is the case type?</h1>

                <div class="nhsuk-grid-column-three-quarters" style="padding-left: 0;">
                    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                        <div class="nhsuk-hint" id="contact-hint">
                            Select what type of case you would like to create.
                        </div>
                        <div class="nhsuk-radios nhsuk-radios--conditional" data-module="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="contact" name="contact" type="radio" value="email" aria-controls="conditional-contact" aria-expanded="false">
                                <label class="nhsuk-label nhsuk-radios__label" for="contact">
                                    SBUC 1a
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="contact" name="contact" type="radio" value="email" aria-controls="conditional-contact" aria-expanded="false">
                                <label class="nhsuk-label nhsuk-radios__label" for="contact">
                                    SBUC 3
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <a href="sbuc-3-search" title="Continue to next section">
                        <button class="nhsuk-button nhsuk-u-margin-top-4  nhsuk-u-margin-bottom-9" data-module="nhsuk-button" type="submit">
                            Continue
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<!-- Close button scripts -->
<script src="/js/autocomplete2.min.js"></script>
<script type="text/javascript">
    function closeBanner() {
    document.getElementById("govuk-notification-banner").style.display = "none";
    }
</script>
{% endblock %}