<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - Create S072 reply – Provide ISO code
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-three-quarters ul-padding-left-lrg">
                <div class="nhsuk-grid-row nhsuk-u-margin-bottom-9">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-back-link">
                            <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                            </svg>
                            Go back</a>
                        </div>
                    </div>
                </div>
                <h1 class="app-page-heading">
                    <span class="nhsuk-caption-l">
                        Create S072 reply
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>
                    ISO Country Code (optional)
                </h1>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        ISO (International Organization for Standardization) Country Code (optional) 
                    </label>
                    <select class="nhsuk-select nhsuk-input--width-20" id="menu1" name="menu1">
                        <option value="0"></option>
                        <option value="1">Austria (AT)</option>
                        <option value="2">Belgium (BE)</option>
                        <option value="3" >Bulgaria (BG)</option>
                        <option value="4" >Croatia (HR)</option>
                        <option value="5" >Cyprus (CY)</option>
                        <option value="6" >Czechia (CZ)</option>
                        <option value="7" >Denmark (DK)</option>
                        <option value="8" >Estonia (EE)</option>
                        <option value="9" >Finland (FI)</option>
                        <option value="10" >France (FR)</option>
                        <option value="11" >Germany (DE)</option>
                        <option value="12" >Greece (EL)</option>
                        <option value="13" >Hungary (HU)</option>
                        <option value="14" >Iceland (IS)</option>
                        <option value="15" >Ireland (IE)</option>
                        <option value="16" >Italy (IT)</option>
                        <option value="17" >Latvia (LV)</option>
                        <option value="18" >Liechtenstein (LI)</option>
                        <option value="19" >Lithuania (LT)</option>
                        <option value="20" >Luxembourg (LU)</option>
                        <option value="21" >Malta (MT)</option>
                        <option value="22" >Netherlands (NL)</option>
                        <option value="23" >Norway (NO)</option>
                        <option value="24" >Poland (PL)</option>
                        <option value="25" >Portugal (PT)</option>
                        <option value="26" >Romania (RO)</option>
                        <option value="27" >Slovakia (SK)</option>
                        <option value="28" >Slovenia (SI)</option>
                        <option value="29" >Spain (ES)</option>
                        <option value="30" >Sweden (SE)</option>
                        <option value="31" >Switzerland (CH)</option>
                        <option value="32" >United Kingdom (UK)</option>
                    </select> 
                </div>

                <button class="nhsuk-button nhsuk-u-margin-top-6" onclick="gotosite()" data-module="nhsuk-button" type="submit">
                    Save draft
                </button>
                
                <p><a href="sed-s072-exit">Cancel</a></p>

                <p class="nhsuk-u-margin-top-9">SED API version: 0.16.3 build preview 1, Model version: 4.3.0</p>

            </div>
        </div>

       
    </div>
</div>
{% endblock %}