<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - Create S072 reply – Provide ISO code
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-three-quarters ul-padding-left-lrg">
                <div class="nhsuk-grid-row nhsuk-u-margin-bottom-9">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-back-link">
                            <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                            </svg>
                            Go back</a>
                        </div>
                    </div>
                </div>
                <h1 class="app-page-heading">
                    <span class="nhsuk-caption-l">
                        Create S072 reply
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>
                    ISO Country Code (optional)
                </h1>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        ISO (International Organization for Standardization) Country Code (optional) 
                    </label>
                    <select class="nhsuk-select nhsuk-input--width-20" id="menu1" name="menu1">
                        <option value="0"></option>
                        <option value="1">AT</option>
                        <option value="2">BE</option>
                        <option value="3" >BG</option>
                        <option value="4" >HR</option>
                        <option value="5" >CY</option>
                        <option value="6" >CZ</option>
                        <option value="7" >DK</option>
                        <option value="8" >EE</option>
                        <option value="9" >FI</option>
                        <option value="10" >FR</option>
                        <option value="11" >DE</option>
                        <option value="12" >EL</option>
                        <option value="13" >HU</option>
                        <option value="14" >IS</option>
                        <option value="15" >IE</option>
                        <option value="16" >IT</option>
                        <option value="17" >LV</option>
                        <option value="18" >LI</option>
                        <option value="19" >LT</option>
                        <option value="20" >LU</option>
                        <option value="21" >MT</option>
                        <option value="22" >NL</option>
                        <option value="23" >NO</option>
                        <option value="24" >PL</option>
                        <option value="25" >PT</option>
                        <option value="26" >RO</option>
                        <option value="27" >SK</option>
                        <option value="28" >SI</option>
                        <option value="29" >ES</option>
                        <option value="30" >SE</option>
                        <option value="31" >CH</option>
                        <option value="32" >UK</option>
                    </select> 
                </div>

                <button class="nhsuk-button nhsuk-u-margin-top-6" onclick="gotosite()" data-module="nhsuk-button" type="submit">
                    Save draft
                </button>
                
                <p><a href="sed-s072-exit">Cancel</a></p>

                <p class="nhsuk-u-margin-top-9">SED API version: 0.16.3 build preview 1, Model version: 4.3.0</p>

            </div>
        </div>

       
    </div>
</div>
{% endblock %}