<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-index-container" style="margin: 0 auto; text-align: center;">
  <div class="nhsuk-grid-row" style="text-align: left;">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">
        Overseas Healthcare Services
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">OHS RINA Prototypes</span>
      </h1>
      <div class="nhsuk-grid-row">
        <h2>Project goals</h2>
        <p>OHS RINA goal is to explore a new system which closely integrates with present EESSI RINA and OHS, MS Claims, and Cost Recovery Systems.</p>
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
        <h2 class="nhsuk-heading-m">Prototypes</h2>
        <p>October 2023</p>
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              MVP 1 - Find a matched OHS Record
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h4>Aims:</h4>
            <ul>
              <li>Add aims here</li>
            </ul>
            <h4>Prototypes:</h4>
            <ul>
              <li><a href="ohs-record-manage-case">Matched OHS record</a><br>This user flow describes the interaction experience of a user landing on an 'open' managed case and finding they need to first match an OHS record to the case before they issue an S045 entitlement. This user flow ends at the point where the member state has received our issued S045 reply.</li>
            </ul>
          </div>
        </details>

      </div>




      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}
