<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-home.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-index-container nhsuk-u-margin-bottom-9 ul-padding-top-lrg" style="margin: 0 auto; text-align: center;">
  <div class="nhsuk-grid-row" style="text-align: left;">
    <div class="nhsuk-grid-column-full">

      <h1>
        Overseas Healthcare Services
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Manage healthcare entitlements</span>
      </h1>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-m">Project aim</h2>

      <p class="nhsuk-body-l">To design a new OHS RINA experience, based on OHS and ESSI Rina, that enable's BSA staff to process healthcare entitlements in a reliable and efficient way.</p>
      
      <ul class="nhsuk-grid-row nhsuk-card-group">

        <!-- alpha -->
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="prototype-sbuc-1">SBUC 1, 1a, 2, 3, & 4 prototypes</a>
              </h2>
              <p class="nhsuk-card__description">February 2025 - Current</p>
            </div>
          </div>
        </li>

        <!-- discovery -->
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="prototype-sbuc-5">SBUC 5 (MVP 1) Prototypes</a>
              </h2>
              <p class="nhsuk-card__description">October 2024 - February 2025</p>
            </div>
          </div>
        </li>

        <!-- Prototype features -->
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="prototype-features">OHS RINA UI features</a>
              </h2>
              <p class="nhsuk-card__description">For example, pagination and modals.</p>
            </div>
          </div>
        </li>

      </ul>


      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}
