<style>
  header, footer, .nhsuk-footer {
    visibility: hidden;
    display: none;
  }
  .nhsuk-footer {
    visibility: hidden;
    display: none;
  }
  .nhsuk-main-wrapper {
    background-color: #ffffff !important;
  }
  .ohs-step-2-case-note {
    background-image: url("/images/ohs-step-2-case-note.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 1316px;
    height: 967px;
  }
</style>


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<a href="ohs-step-3-note-modal"><div class="ohs-step-2-case-note" style="text-align:center; margin: 0 auto;"></div></a>

{% endblock %}

