<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-index-container nhsuk-u-margin-bottom-9 ul-padding-top-lrg" style="margin: 0 auto; text-align: center;">
  <div class="nhsuk-grid-row" style="text-align: left;">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-row">
        <h1 class="nhsuk-heading-l">Overseas Healthcare Services<span class="nhsuk-caption-xl nhsuk-caption--bottom">OHS RINA Prototypes</span>
        </h1>
        <h2>Project goals</h2>

        <p>OHS RINA goal is to explore a new system which closely integrates with present EESSI RINA and OHS, MS Claims, and Cost Recovery Systems.</p>
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
        <h2 class="nhsuk-heading-l">Prototypes</h2>

        <h3 class="nhsuk-u-margin-top-6">H3 Heading</h3>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Detail summary
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="mvp-2/mvp-2-test">Happy Path User Flow</a></p>
            <h4>H4 heading</h4>
            <ol>
              <li>Ordered list</li>
              <li>Ordered list</li>
            </ol>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text" style="width: 95%;">
                Version 12 - Create a new submission - Current
                <strong class="nhsuk-tag nhsuk-tag--yellow" style="float:right;">
                  In progress - with UI
                </strong>
              </span>
            </summary>
            <div class="nhsuk-details__text">
                <h3 class="nhsuk-heading-s">Aims:</h3>
                <ul>
                    <li>To enable a user to add a reply to contestation to an individual claim</li>
                    <li>To enable a user to upload invoices to a reply to contestation - RINA</li>
                    <li>To enable a user to add a credit note to an individual claim</li>
                    <li>To enable a user to upload individual credit notes to a credit note - RINA</li>
                    <li>To iterate based on the recommendations from round 11 of UR</li>
                </ul>
        
                <hr>
    
                <h3 class="nhsuk-heading-s">Prototype for UR</h3>
                    <div class="nhsuk-action-link">
                      <a class="nhsuk-action-link__link" href="version-12/claims/rina/actual-cost/6784-france/summary/reply-sent">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                          </path>
                        </svg>
                        <span class="nhsuk-action-link__text">Scenario # - title</span>
                      </a>
                    </div>

                <hr>
    
              <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Quick links</h4>
              <ul>
                <!-- <li><a href="version-11/sign-in">Full journey - RINA actual cost</a></li> -->
                <li><a href="version-12/claims/create/index">Create a claim</a></li>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/invoices/upload/xml/index">Add invoices</a></li>
                <li><a href="version-12/claims/index">Claim search</a></li>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/invoices/full-invoice-list">Invoice search</a>
                </li>
              </ul>
    
              <hr>
    
              <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3">Create a contestation/credit note - Proof of concept screens</h4>
    
              <h5 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Submissions landing screen</h5>
              <ul>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/submissions/01-not-started">Claim status: Not
                    started</a></li>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/submissions/02-active">Claim status: Active</a>
                </li>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/submissions/03-letters-sent">Claim status:
                    Reply sent</a></li>
              </ul>
    
              <h5 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Submission details screen</h5>
              <ul>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/submissions/create/02a-contestation-actual">Reply to contestation details - Actual cost</a></li>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/submissions/create/02a-contestation-average">Reply to contestation details - Average cost</a></li>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/submissions/create/02b-credit-note-actual">Credit
                    note details - Actual cost</a></li>
                <li><a href="version-12/claims/rina/actual-cost/6784-france/submissions/create/02b-credit-note-average">Credit
                    note details - Average cost</a></li>
              </ul>
    
              
    
            </div>
          </details>


      </div>

      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}
