<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - View S071 - Request for S072 entitlement
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-index-container nhsuk-u-margin-bottom-9 ul-padding-top-lrg" style="margin: 0 auto; text-align: center;">
  <div class="nhsuk-grid-row" style="text-align: left;">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-row">
        <h1 class="nhsuk-heading-l">Overseas Healthcare Services<span class="nhsuk-caption-xl nhsuk-caption--bottom">OHS RINA Prototypes</span>
        </h1>
        <h2>Project goals</h2>

        <p>OHS RINA goal is to explore a new system which closely integrates with present EESSI RINA and OHS, MS Claims, and Cost Recovery Systems.</p>
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
        <h2 class="nhsuk-heading-l">Prototypes</h2>

        <h3 class="nhsuk-u-margin-top-4">SED prototypes</h3>
        
        <!-- SED create S050 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Create S050 - Dispute of date
            </span>
          </summary>
          <div class="nhsuk-details__text">
            
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-3118" target="_blank">View Jira ticket for more details</a></p>
            <p>This prototype scenario is for a Fixed period dispute. You'll see the any fixed period options already selected in this mock experience.</p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="create-s050-person">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Create S050 SED</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED create S050 end -->

        <!-- SED view S050 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              View S050 - Dispute of date
            </span>
          </summary>
          <div class="nhsuk-details__text">
            
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-3118" target="_blank">View Jira ticket for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-s050-person">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View S050 SED</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED view S050 end -->

        <!-- SED view S071 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              View S071 - Request for S072 entitlement
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2758" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/spaces/RINA/pages/5052497921/Design+for+create+and+view+S071" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-s071-request-for-s072-person">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View S071 reply SED</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED view S071 end -->

        <!-- SED create S072 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Create S072 reply
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2759" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/spaces/RINA/pages/5055676454/Design+for+create+and+view+S072" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="create-s072-request-for-s072-entitlement">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Create S072 reply SED</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED create S072 end -->

        <!-- SED view S072 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              View S072 reply
            </span>
          </summary>
          <div class="nhsuk-details__text" id="#view-s0720-reply">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2759" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/spaces/RINA/pages/5055676454/Design+for+create+and+view+S072" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-s072-person">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View S072 reply SED - Issued, Fixed period</span>
              </a>
            </div>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-s072-decision-open">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View S072 reply SED - Issued, Open period</span>
              </a>
            </div>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-s072-decision-rejected">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View S072 reply SED - Rejected</span>
              </a>
            </div>

          </div>
        </details>

        <!-- SED view S072 end -->

        <!-- SED create S073 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              View S073
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2760" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/spaces/RINA/pages/5068783618/Design+for+view+S073" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-s073-person">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View S073 - Entitlement registration SED</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED create S073 end -->

        <!-- SED create S016 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Create S016
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-4165" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/spaces/RINA/pages/5306187981/S016+-+Create" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="create-s016/create-s016-person">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Create S016</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED create S016 end -->

        <!-- SED view S016 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              View S016
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-4165" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/x/zQBGPAE" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-s016/view-s016-person">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View S016</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED view S016 end -->

        <!-- SED view X007 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              View X007 - Forward case
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2761" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/spaces/RINA/pages/5102632961/Design+for+X007" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="view-x007-case-context">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View X007 forward information SED</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED view X007 end -->

        <!-- SED create X007 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Create X007 - Forward case
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2761" target="_blank">View Jira ticket for more details</a></p>
            <p><a href="https://bsa2468.atlassian.net/wiki/spaces/RINA/pages/5102632961/Design+for+X007" target="_blank">View Confluence for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="create-x007-case-context">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Create X007 forward information SED</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SED create X007 end -->

        <h3 class="nhsuk-u-margin-top-4">Single screen prototypes</h3>

        <!-- Entitlements home start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Entitlement's home prototypes
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">What's new:</h3>
            <ul>
                <li>Changed the Case type filter from a check box list to radio controls</li>
                <li>Changed the Case status filter from check box list to radio controls</li>
                <li>Removed '0' from the naming of BUCs in the Browse by business use cases list. Now read clearer for our users</li>
                <li>Added search results screen to describe what happens when a user seaches for a case</li>
            </ul>

            <p><a href="https://bsa2468.atlassian.net/browse/RIN-3642" target="_blank">View Jira ticket for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="entitlements-home/entitlements-home">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Entitlement's home</span>
              </a>
            </div>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="entitlements-home/entitlements-search-single-buc">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Search for a case - single result found</span> 
              </a>
            </div>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="entitlements-home/entitlements-search-multiple-buc">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Search for a case - multiple results found</span>
              </a>
            </div>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="entitlements-home/entitlements-search-filtered-sorted">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Search for a case - with filters applied</span> 
              </a>
            </div>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="entitlements-home/entitlements-search-buc-unsupported">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Search for a case - unsupported buc type</span> 
              </a>
            </div>

          </div>
        </details>

        <!-- SBUC 1 Work queue start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Work queue - SBUC 1 example
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2861" target="_blank">View Jira ticket for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="entitlements-home/work-queue">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Work queue - SBUC 1 cases</span>
              </a>
            </div>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="entitlements-home/work-queue-search-for">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Work queue - SBUC 1 example with filter 'Assigned to me' applied to the case listing</span>
              </a>
            </div>
          </div>
        </details>

        <h3 class="nhsuk-u-margin-top-4">User flow prototypes</h3>

        <!-- Posted worker issued start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Posted worker prototypes
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">Aims:</h3>
          
            <ul>
                <li>Enable the user to easily view HMRC X007 responses by posting response in case management screen</li>
                <li>Enable a user to make a decision on entitlement early in the user flow which changes the onward flow basedon their decision</li>
            </ul>

            <h3 class="nhsuk-heading-s">What's new:</h3>

            <ul>
                <li>HMRC are now represented in the timeline to increase the visibility of their responses</li>
                <li>HMRC X007 responses and reason is now displayed in the case management screen to help users quickly make a decision on next steps</li>
                <li>Decision on entitlement is now appearing very early in the user flow to help tailor the onward experience based on their decision</li>
            </ul>

            <p><a href="https://bsa2468.atlassian.net/browse/RIN-3563" target="_blank">View Jira ticket for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="posted-worker-issued-v2/pw-issued-case-s071">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Posted worker issued prototype - version 2</span>
              </a>
              <p style="padding-left: 38px;margin-top: 24px;">In this version the decision on entitlement screen has been removed.</p>
            </div>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="posted-worker-issued-v1/pw-issued-case-s071">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Posted worker issued prototype - version 1</span>
              </a>
              <p style="padding-left: 38px;margin-top: 24px;">In this version the decision on entitlement screen was requested to be used from when a officer first picks up a case and to confirm the decision on the citizens entitlement.</p>
            </div>

            <!--<div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="posted-worker-rejected/pw-reject-case-s071">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Posted worker rejected prototype</span>
              </a>
            </div>-->

          </div>
        </details>

        <!-- Assign a case / unassign a case start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              Assign a case / unassign a case
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">Aims:</h3>
          
            <ul>
                <li>Enable the user to self assign a case</li>
                <li>Enable a user to unassign a case as and when the need arises</li>
                <li>Enable the user to unassign any cases (2 cases per officer) when they go to logout</li>
            </ul>

            <p><a href="https://bsa2468.atlassian.net/browse/RIN-3645" target="_blank">View Jira ticket for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="assign-case/mvp2-dep-work-queue-start-2">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">Assign a case / unassign a case</span>
              </a>
            </div>
          </div>
        </details>

        <!-- SBUC 1 DEP unhappy path family member of a pensioner start -->
        
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              SBUC 1 DEP unhappy path family member of a pensioner
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">Aims:</h3>
          
            <ul>
                <li>To enable a user to check the main in this dependant case has a current entitlement to add the dependant</li>
                <li>To enable a user to search for any open main case in the work queue</li>
                <li>To enable a user to find the main case and create an S072 entitlement</li>
                <li>To enable a user to add the dependant to the newly create main entitlement</li>
            </ul>

            <p><a href="https://bsa2468.atlassian.net/browse/RIN-2464" target="_blank">View Jira ticket for more details</a></p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="mvp-2-dep-unhappy-path/dep-unhappy-entitlements-homepage">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">SBUC 1 DEP unhappy path family member of pensioner</span>
              </a>
            </div>
          </div>
        </details>

        <!-- Prototype DEP Unhappy path end -->

        <!-- Prototype DEP happy path 2 start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              SBUC 1 DEP Happy Path Family member of a pensioner
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">Aims:</h3>
            <ul>
                <li>To enable a user to view a received S071 for a dependant</li>
                <li>To enable a user to search for a existing OHS record</li>
                <li>To enable a user to create S072 entitlement by sending an S072 Reply</li>
                <li>To enable a user to register the S072 in response to S073</li>
            </ul>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="mvp-2-dep-happy-path-2/mvp2-dep-work-queue-start-2">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">SBUC 1 DEP Happy Path Family member of pensioner</span>
              </a>
            </div>
          </div>
        </details>

        <!-- Prototype DEP happy path 2 end -->

        <!-- Prototype MAIN happy path start -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" style="width: 95%;">
              SBUC 1 UK state pensioner
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">Aims:</h3>
            <ul>
                <li>To enable a user to view a received S071</li>
                <li>To enable a user to search for a existing OHS record</li>
                <li>To enable a user to create S072 entitlement by sending an S072 Reply</li>
                <li>To enable a user to register the S072 in response to S073</li>
            </ul>
    
            <hr>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="sbuc-1-main-v2/mvp2-case-s071-received">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">SBUC 1 UK state pensioner - version 2</span>
              </a>
            </div>
            <hr>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="mvp-2/mvp2-case-s071-received">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">SBUC 1 UK state pensioner - version 1</span>
              </a>
            </div>
            <hr>

            <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">UCD Updates 10/4</h4>
            <ul>
              <li>Revised <a href="https://mvp1-match-ohs-record-v5-e83b227da742.herokuapp.com/mvp-2/mvp2-case-s071-received">case management screen</a> with a feature to offer user to go use the Gov UK state pension calcuator and to work out the cases citizens pensionable age.</li>
              <li>Revised content when we ask the user what is the status of the citizen.</li>
            </ul>
            <hr>
            <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">UCD Updates 8/4</h4>
            <ul>
              <li>Notifications are updated across the user flow.</li>
              <li>Added feature to help users calcuate the age of the person in a case. After the entitlement is issued the status of the person is confirmed as a pensioner.</li>
            </ul>
            <hr>
            <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">UCD Check-in 4/4</h4>
            <ul>
              <li><a href="mvp-2/mvp2-type-of-entitlement">What type of entitlement would like like to create?</a> </li>
              <li><a href="mvp-2/mvp2-create-s072-entitlement">Notification confirming registration of UK state pensioner</a> </li>
            </ul>
            <h4 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Quick links</h4>
            <ul>
              <!-- <li><a href="version-11/sign-in">Full journey - RINA actual cost</a></li> -->
              <li><a href="mvp-2/mvp2-case-s071-received">Receiving a S071 from a MS</a></li>
              <li><a href="mvp-2/mvp2-search-ohs-records">Search for an OHS record</a></li>
              <li><a href="mvp-2/mvp2-matched-record">Matching OHS record</a></li>
              <li><a href="mvp-2/mvp2-create-s072-entitlement">S072 entitlement succesfully created</a></li>
              <li><a href="mvp-2/mvp2-create-s072-reply">Create S072 Reply SED</a></li>
              <li><a href="mvp-2/mvp2-s072-sent">S072 sent to MS</a></li>
              <li><a href="mvp-2/mvp2-s072-received">S072 received by MS</a></li>
              <li><a href="mvp-2/mvp2-s072-reason-4-note">What is the reason for note</a></li>
              <li><a href="mvp-2/mvp2-s072-add-note">What is your note?</a></li>
              <li><a href="mvp-2/mvp2-case-note-added-notification">Success - note added</a></li>
              <li><a href="mvp-2/mvp2-dashboard">Work queue dashboard (time lapse)</a></li>
              <li><a href="mvp-2/mvp2-case-s073-received">S073 received from MS - Register S072</a></li>
              <li><a href="mvp-2/mvp2-case-s073-registered">S072 registered</a></li>
              <li><a href="mvp-2/mvp2-s072-reason-4-2nd-note">What is the reason for note (2nd note)</a></li>
              <li><a href="mvp-2/mvp2-s072-add-2nd-note">What is your note? (2nd note)</a></li>
              <li><a href="mvp-2/mvp2-case-closed-case">Close the case</a></li>
            </ul>

          </div>
        </details>

          <!-- Prototype MAIN happy path end -->


        </div>

      <!-- End of content -->

      </div>
  </div>
</div>
{% endblock %}
