<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb clearfix" aria-label="Breadcrumb">
  <div class="nhsuk-grid-column-one-half">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="sed-s045-reply-manage-case">Case management ID 68782</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-one-half ul-padding-left-lrg ul-padding-top-lrg">
                <h1 class="app-page-heading">
                    <span class="nhsuk-caption-l">
                        S044
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>
                    Address
                </h1>
                
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Street (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        12 Willow Road
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Building name (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Town
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Sunderland
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Postal code (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Region (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Country
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        United Kingdom
                    </dd>
                  </div>

                </dl>

                <a href="sed-s044-read-only-entitlement" title="Continue to next section">
                    <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                        Continue
                    </button>
                </a>

                <p class="nhsuk-u-margin-top-9">SED API version: 0.16.3 build preview 1, Model version: 4.1.0</p>

            </div>
        </div>

        <!-- content - end -->

        <div class="nhsBSA-sidebar-nav">

            <!-- nav - start -->
            <ul class="nhsuk-header__navigation-list sidebar-nav">
                    
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="sed-s044-read-only-person">
                        Person
                    </a>
                </li>
            
                <li class="nhsuk-header__navigation-item active">
                    <a class="nhsuk-header__navigation-link " href="sed-s044-read-only-address">
                        Address
                    </a>
                </li>
            
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="sed-s044-read-only-entitlement">
                      Period of entitlement
                    </a>
                </li>
            </ul>

            <!-- nav - end -->

        </div>
    </div>
</div>
{% endblock %}
