<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - View H002 reply - Response to request for information - Address
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container ul-no-breadcrumbs">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-one-half ul-padding-left-lrg">

              <div class="nhsuk-grid-row nhsuk-u-margin-bottom-9">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                        </svg>
                        Go back</a>
                    </div>
                </div>
              </div>

                <h1 class="app-page-heading">
                    <span class="nhsuk-caption-l">
                      View H002 reply - Response to request for information
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>
                    Address (optional) 
                </h1>

                <h2 class="nhsuk-u-margin-top-6">Address of the person (optional)</h2>

                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Type of address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Contact address of the person
                    </dd>
                  </div>

                </dl>

                <h3 class="nhsuk-u-margin-top-6">Address (optional)</h3>

                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Street (optional) 
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      64 Willow Road
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Building name (optional) 
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Town
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Sunderland
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Postal code (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      SR5 6UT
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Region (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Country
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      United Kingdom
                    </dd>
                  </div>

                </dl>


                <a href="sed-v3-view-h002-request" title="Continue">
                    <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                    Continue
                    </button>
                </a>


                <p class="nhsuk-u-margin-top-9">SED API version: 0.16.3 build preview 1, Model version: 4.3.0</p>

            </div>
        </div>

        <!-- content - end -->

      
    </div>
</div>
{% endblock %}
