<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container ul-no-breadcrumbs">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-one-half ul-padding-left-lrg ul-padding-top-lrg">
                <h1 class="app-page-heading">
                    <span class="nhsuk-caption-l">
                        S044
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>
                    Person
                </h1>
                <h2>Person details</h2>
                
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Last name(s)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Rutherford
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      First name(s)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Graeme
                    </dd>
                  </div>
                
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      3 December 1956
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Sex
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Male
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Last name (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      First name (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>
                </dl>

                <h3 class="nhsuk-u-margin-top-9">Personal identification number(s) (PIN)</h3>

                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Country which provided PIN
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      United Kingdom
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      PIN
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      JG 08 23 89 A
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Sector (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>

                  <h3 class="nhsuk-u-margin-top-9">Institution</h3>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution identification number 
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      ID123456
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Name of institution
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Healthcare Service Centre
                    </dd>
                  </div>
                </dl>
                <div class="nhsuk-inset-text">
                  <span class="nhsuk-u-visually-hidden">Information: </span>
                  <p>If PIN not provided, complete place of birth details.</p>
                </div>
                <h3 class="nhsuk-u-margin-top-9">Place of birth</h3>
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Town
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Sunderland
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Region (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Country of birth
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      United Kingdom
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Father’s last name at birth (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      First name of father (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Mother’s last name at birth (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      First name of mother (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      
                    </dd>
                  </div>
                  <h3 class="nhsuk-u-margin-top-9">Additional information</h3>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Nationality (optional)
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                    </dd>
                  </div>
                </dl>

                <a href="sed-s044-read-only-address" title="Continue to next section">
                    <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                        Continue
                    </button>
                </a>

                <p class="nhsuk-u-margin-top-9">SED API version: 0.16.3 build preview 1, Model version: 4.1.0</p>

            </div>
        </div>

        <!-- content - end -->

        <div class="nhsBSA-sidebar-nav">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                    </svg>
                    Go back</a>
                </div>
            </div>
        </div>
            <!-- nav - start -->
            <ul class="nhsuk-header__navigation-list sidebar-nav">
                    
              <li class="nhsuk-header__navigation-item active">
                <a class="nhsuk-header__navigation-link" href="sed-s044-read-only-person">
                    Person
                </a>
              </li>
        
              <li class="nhsuk-header__navigation-item">
                  <a class="nhsuk-header__navigation-link " href="sed-s044-read-only-address">
                      Address
                  </a>
              </li>
            
              <li class="nhsuk-header__navigation-item">
                  <a class="nhsuk-header__navigation-link" href="sed-s044-read-only-entitlement">
                      Period of entitlement
                  </a>
              </li>
            
            </ul>

            <!-- nav - end -->

        </div>
    </div>
</div>
{% endblock %}
