<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - Create H001 - Notification/request for information - Address
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-three-quarters ul-padding-left-lrg">

              <div class="nhsuk-grid-row nhsuk-u-margin-bottom-9">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                        </svg>
                        Go back</a>
                    </div>
                </div>
              </div>
              <h1 class="app-page-heading">
                  <span class="nhsuk-caption-l">
                    Create H001 - Notification/request for information
                      <span class="nhsuk-u-visually-hidden"> - </span>
                  </span>
                  Notification of address (optional)
              </h1>

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                  <label class="nhsuk-label" for="example-2">
                    Type of address (optional)
                  </label>
              
                  <div class="nhsuk-radios">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-4" name="example-2" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-4">
                        Country of stay
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-5" name="example-2" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-5">
                        Contact address 
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-6" name="example-2" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-6">
                        Contact address of the person 
                      </label>
                    </div>
              
                  </div>
                </fieldset>
              </div>

              <h5 class="nhsuk-u-margin-top-9 nhsuk-u-font-size-22">Address</h5>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                  Street (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text" value="">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                  Building name (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text" value="">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                  Town
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text" value="Sunderland">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                  Postal code (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text" value="">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                  Region (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text" value="">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" id="address-country-label" for="address-country">
                    Country
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" list="countries" id="address-country-drop" name="address-country" value="United Kingdom">
                <datalist id="countries">
                  <option value=""></option>
                  <option value="Austria">Austria</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Bulgaria">Bulgaria</option>
                  <option value="Croatia">Croatia</option>
                  <option value="Cyprus">Cyprus</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Denmark">Denmark</option>
                  <option value="Estonia">Estonia</option>
                  <option value="Finland">Finland</option>
                  <option value="France">France</option>
                  <option value="Germany">Germany</option>
                  <option value="Gibraltar">Gibraltar</option>
                  <option value="Greece">Greece</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Iceland">Iceland</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Italy">Italy</option>
                  <option value="Latvia">Latvia</option>
                  <option value="Liechtenstein">Liechtenstein</option>
                  <option value="Lithuania">Lithuania</option>
                  <option value="Luxembourg">Luxembourg</option>
                  <option value="Malta">Malta</option>
                  <option value="Netherlands">Netherlands</option>
                  <option value="Norway">Norway</option>
                  <option value="Poland">Poland</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Romania">Romania</option>
                  <option value="Slovakia">Slovakia</option>
                  <option value="Slovenia">Slovenia</option>
                  <option value="Spain">Spain</option>
                  <option value="Sweden">Sweden</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="United Kingdom" selected="selected">United Kingdom</option>
                </datalist>                                                  
              </div>

              <a href="unhappy-path-2-v2-h001-request" title="Continue to next section">
                  <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                        Continue
                  </button>
              </a>
              <p><a href="sed-are-you-sure-x010">Cancel</a></p>

              <p class="nhsuk-u-margin-top-9">SED API version: 0.16.3 build preview 1, Model version: 4.3.0</p>

            </div>
        </div>

        <!-- content - end -->

        
    </div>
</div>
{% endblock %}
