
<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!--<nav class="nhsuk-breadcrumb clearfix" aria-label="Breadcrumb">

    <div class="nhsuk-grid-column-one-half">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="ohs-record-manage-case">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="ohs-record-manage-case">Case management ID 78793</a></li>
      </ol>
    </div>
    

  </nav>-->
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
          
<!-- Content - Start -->
<div class="nhsuk-width-container-fluid clearfix ul-padding-top-lrg">
    
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

        <div class="nhsuk-grid-row nhsuk-u-margin-top-9 nhsuk-u-margin-bottom-9">
            <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-4">
                <h1 class="app-page-heading">End of task 1</h1>
                <p>In this task the user:</p>
                <ul class="nhsuk-u-margin-bottom-4">
                    <li>Searched for a related OHS record but found none</li>
                    <li>Created a new OHS record with no address</li>
                    <li>Sent to the Member State a H001 requesting a full address</li>
                    <li>User then adds a note in OHS in the record</li>
                    <li>User closes the browser tab and updates their Tracker with a case note on progress</li>
                </ul>
            </div>
            <a href="unhappy-path-2-s8-case-h002"><h2 class="nhsuk-heading-xs">Continue to task 2: User revisits the case and checks H002</h2></a>
        </div>
    
    </div>
</div>


{% endblock %}
