<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- content - start -->

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-grid-column-two-thirds ul-padding-left-lrg">

            <h1 class="app-page-heading">Are you sure you want to delete this draft?</h1>
            <p>All your data will be lost if you delete this form.</p>

            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset">
            
                <div class="nhsuk-radios">
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-1" name="example-1" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                      Yes, delete this draft
                    </label>
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" name="example-1" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-2" >
                      No, keep this draft
                    </label>
                  </div>

                  <a href="unhappy-sed-s045-delete-error">
                    <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                      Submit
                    </button>
                  </a>
                </div>
              </fieldset>
            </div>
            </div>
        </div>

        <!-- content - end -->
    </div>
</div>
{% endblock %}
