<style>
  header, footer, .nhsuk-footer {
    visibility: hidden;
    display: none;
  }
  .nhsuk-footer {
    visibility: hidden;
    display: none;
  }
  .nhsuk-main-wrapper {
    background-color: #ffffff !important;
  }
  .ohs-step-1-person {
    background-image: url("/images/unhappy-path-2-ohs-person.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 1316px;
    height: 1800px;
  }
</style>

{% block content %}
<a href="#"><div class="ohs-step-1-person" style="text-align:center; margin: 0 auto;"></div></a>

{% endblock %}

