<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends '../layout-mvp2-dep-happy.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA - Search for an OHS record
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container margin-left-right-lrg ul-padding-top-lrg">
  <div class="nhs-main-wrapper">

    <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">

            <div class="nhsuk-back-link nhsuk-u-margin-bottom-9">
                <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
            </div>

            <div class="nhsuk-grid-column-two-thirds" style="padding-left: 0;">
                <h1>Review period of entitlement</h1>

                <fieldset class="nhsuk-fieldset">
                        
                    <label class="nhsuk-label" for="example">
                        Entitlement start date
                    </label>

                    <div class="nhsuk-date-input" id="example">
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example[day]" type="text" inputmode="numeric" value="30">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example[month]" type="text" inputmode="numeric" value="10">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example[year]" type="text" inputmode="numeric" value="2024">
                            </div>
                        </div>
                    </div>    
                </fieldset>

                <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-6">
                    
                    <label class="nhsuk-label" for="example">
                        Entitlement end date (optional)
                    </label>

                    <div class="nhsuk-date-input" id="example">
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example[day]" type="text" inputmode="numeric" value="">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example[month]" type="text" inputmode="numeric" value="">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example[year]" type="text" inputmode="numeric" value="">
                            </div>
                        </div>
                    </div>    
                </fieldset>

                <!-- Manage dates ends -->

                <a href="mvp2-create-s072-entitlement" title="Click submit to add a dependant">
                    <button class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-9" data-module="nhsuk-button" type="submit">
                        Submit
                    </button>
                </a>
            </div>

            <!-- Mange dates end -->

            <!-- Reminder content start -->

            <div class="nhsuk-grid-column-one-third">
                <div class="nhsuk-card__content nhsuk-card__content--secondary nhsuk-u-padding-left-5 nhsuk-u-margin-bottom-9" style="border-left: 1px solid #d8dde0;">

                    <h2 class="nhsuk-u-margin-top-9 nhsuk-heading-m" style="margin-top:23px !important;">S071 details</h2>

                    <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                First name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Geralt
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Last name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Rivia
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Entitlement start date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              30 Oct 2024
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Entitlement end date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                            </dd>
                        </div>
                    </dl>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
