<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mvp2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <nav class="nhsuk-breadcrumb clearfix" aria-label="Breadcrumb">

    <div class="nhsuk-grid-column-one-half">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="mvp2-main-wq-ms-action">Home</a></li>
        <!--<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#"></a></li>-->
      </ol>
    </div>
    
    <!-- Case management actions menus -->

    <div class="nhsuk-grid-column-one-half" style="text-align: right; padding-top: 3px;">
      <ol class="nhsuk-breadcrumb__list manage-case-list">
        <li class="nhsuk-breadcrumb__item dropdown">
          <a href="#" class="dropdown__toggle-button">Create documents</a>
          <div class="dropdown-content">
            <a href="#" role="menuitem">Create H001</a>
          </div>
        </li>
        <li class="nhsuk-breadcrumb__item dropdown">
          <a href="#" class="dropdown__toggle-button">Case actions</a>
          <div class="dropdown-content reposition-right-menu">
            <a href="#" role="menuitem">Close case</a>
            <a href="#" role="menuitem">Create reminder</a>
            <a href="#" role="menuitem">Refresh case</a>
          </div>
        </li>
      </ol>
    </div>

  </nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsuk-header__navigation ul-padding-top-lrg">

      <h1 class="nhsuk-heading-l">27341</h1>
      
      <p><strong>SBUC 01 – CP</strong></p>
      <p><strong class="nhsuk-tag nhsuk-tag--yellow">Open</strong></p>

      <div class="nhsuk-timeline" id="timeline">
        <ol class="nhsuk-timeline__events">

            <!-- SO72 -->

            <li class="nhsuk-timeline__events--entry">

                <div class="nhsuk-timeline__header nhsuk-u-padding-top-2">
                    <div class="flag flag-uk" role="presentation"></div>
                    <h3 class="nhsuk-timeline__title"><a href="#">S072 v.1</a></h3>
                </div>
                <p class="nhsuk-timeline__date nhsuk-u-margin-top-4">
                    <time><strong>Sent</strong>, 6 Nov 2024 at 09:23 from UK</time>
                </p>
                <ul class="nhsuk-list nhsuk-body-s">
                  <li>
                    <p style="font-size:16px;"><span class="ms-received"></span><strong>Received</strong> by member state</p>
                  </li>
                </ul>
            </li>

            <!-- SO71 -->

            <li class="nhsuk-timeline__events--entry">

                <div class="nhsuk-timeline__header nhsuk-u-padding-top-2">
                    <div class="flag flag-fr" role="presentation"></div>
                    <h3 class="nhsuk-timeline__title"><a href="#">S071 v.1</a></h3>
                </div>
                <p class="nhsuk-timeline__date nhsuk-u-margin-top-4">
                    <time><strong>Received</strong>, 5 Nov 2024 at 14:32 from France</time>
                </p>
            
            </li>
            

        </ol>
      </div>


      <!-- Timeline - End -->

    </div>
    
    <div class="nhsBSA-sidebar-content" style="padding: 0 32px;">

      <div class="nhsuk-width-container-full ul-padding-top-lrg">

        <!-- notification -->

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div id="govuk-notification-banner" class="govuk-notification-banner govuk-notification-banner--success nhsuk-u-margin-bottom-9" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                      </h2>
                      <a href="#" style="float: right;" onclick="closeBanner()">Close</a>
                    </div>
                    <div class="govuk-notification-banner__content">
                      <p class="govuk-body">Case notes have been added in OHS.</p>
                    </div>
                  </div>
            </div>
            <div class="nhsuk-grid-column-one-quarters"></div>
        </div>

        <!-- Content -->

        <div class="nhsuk-grid-row">
        
          <div class="nhsuk-grid-column-two-thirds">
            <h1 class="nhsuk-heading-xl">Case management</h1>
          </div>
  
          <!--<div class="nhsuk-grid-column-one-third" style="text-align:right;">
            <a href="mvp2-create-s072-reply" title="Create S045 reply">
              <button class="nhsuk-button nhsuk-button--primary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Create a S072 reply
              </button>
            </a>
          </div>-->
        </div>

      <!-- in-page Case management personal details tabs - Start -->

      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Contents
        </h2>
      
        <ul class="nhsuk-tabs__list">
      
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#applicant-details">
              Applicant details
            </a>
          </li>
      
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#case-details">
              Case details
            </a>
          </li>
      
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#participants">
              Participants <span>(2)</span>
            </a>
          </li>

        </ul>

        <div class="nhsuk-tabs__panel clearfix" id="applicant-details">

          <div class="nhsuk-grid-column-one-half">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  First name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Geralt
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Last name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Rivia
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  3 December 1950
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <div class="nhsuk-summary-list__row ohs-table-no-last-row-border">
                <dt class="nhsuk-summary-list__key">
                  Address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    17 place du Trocadéro<br> 75016<br> Paris<br> France
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
            </dl>
          </div>

          <div class="nhsuk-grid-column-one-half">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  PIN
                </dt>
                <dd class="nhsuk-summary-list__value">
                    JG 08 23 89 A
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Entitlement start date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  30 October 2024
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Entitlement end date
                </dt>
                <dd class="nhsuk-summary-list__value">
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <div class="nhsuk-summary-list__row ohs-table-no-last-row-border">
                <dt class="nhsuk-summary-list__key">
                  Status
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <strong class="nhsuk-tag nhsuk-tag--green">
                    Pensioner
                  </strong>
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
            </dl>
          </div>
 
        </div>
      
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden clearfix" id="case-details">

          <!-- Case details left summary list-->

          <div class="nhsuk-grid-column-one-half no-padding">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Local ID
                </dt>
                <dd class="nhsuk-summary-list__value">
                  27341
                </dd>
              </div>
              
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Business ID
                </dt>
                <dd class="nhsuk-summary-list__value">
                  27341
                </dd>
              </div>
              <div class="nhsuk-summary-list__row ohs-table-no-last-row-border">
                <dt class="nhsuk-summary-list__key">
                  International ID
                </dt>
                <dd class="nhsuk-summary-list__value">
                  e2742a41fccc41fea9723f6871c9604e
                </dd>
              </div>
            </dl>
          </div>

          <!-- Case details right summary list-->

          <div class="nhsuk-grid-column-one-half no-padding">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Since 
                </dt>
                <dd class="nhsuk-summary-list__value">
                  13 October 2024
                </dd>
              </div>
              
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Update
                </dt>
                <dd class="nhsuk-summary-list__value">
                  13 October 2024
                </dd>
              </div>
              <div class="nhsuk-summary-list__row ohs-table-no-last-row-border">
                <dt class="nhsuk-summary-list__key">
                  Institution 
                </dt>
                <dd class="nhsuk-summary-list__value">
                </dd>
                
              </div>
            </dl>
          </div>

          <!-- Case details sensitive question -->

          <div class="">
            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <p>
                    Is this case sensitive?
                  </p>
                </legend>
            
                <div class="nhsuk-radios nhsuk-radios--inline">
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                      Yes
                    </label>
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                      No
                    </label>
                  </div>
            
                </div>
              </fieldset>
            
            </div>
          </div>
 
        </div>
      
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="participants">
      
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption visually-hidden">Participants</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Participant role
                </th>
                <th role="columnheader" scope="col">
                  ID
                </th>
                <th role="columnheader" scope="col">
                  Initial
                </th>
                <th role="columnheader" scope="col">
                  Name
                </th>
                <th role="columnheader" scope="col">
                  Country code
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Case owner</td>
                <td class="nhsuk-table__cell "></td>
                <td class="nhsuk-table__cell "></td>
                <td class="nhsuk-table__cell "></td>
                <td class="nhsuk-table__cell ">FR</td>
              </tr>
              <tr role="row" class="nhsuk-table__row ohs-table-no-last-row-border">
                <td class="nhsuk-table__cell">Counter Party
                </td>
                <td class="nhsuk-table__cell ">UK:UK033</td>
                <td class="nhsuk-table__cell ">DHSC</td>
                <td class="nhsuk-table__cell ">ACC_Department of Health and Social Care</td>
                <td class="nhsuk-table__cell ">UK</td>
              </tr>
            </tbody>
          </table>
      
        </div>
      
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="attachments">
          <p>No attachments.</p>
        </div>
      
      </div>

      <!-- in-page Case management personal details tabs - End -->

      <!-- in-page OHS Matched record - No S045 found - Start -->

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <div>
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-three-quarters">
                <h2 class="nhsuk-heading-l">Matched OHS Record</h2>
              </div>

              <div class="nhsuk-grid-column-one-quarter" style="text-align: right">
                <a href="#" class="nhsuk-u-padding-right-4" style="font-size: 19px;">Add note</a>
                <a href="#" style="font-size: 19px;">View notes</a>
              </div>
            </div>
            
            <!-- Personal details -->

            <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-three-quarters">
                            <h3 class="nhsuk-heading-m">Personal details</h3>
                        </div>
                        <div class="nhsuk-grid-column-one-quarter" style="text-align: right; padding-right: 16px;">
                            
                        </div>
                    </div>
                    <div class="nhsuk-grid-row"> 
                        <div class="nhsuk-grid-column-full"> 
                          <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
                              <!-- <caption class="nhsuk-table__caption">Showing results for: All treatments</caption>  -->
                              <thead role="rowgroup" class="nhsuk-table__head">
                                  <tr role="row">
                                      <th role="columnheader" class="" scope="col">
                                        OHS reference
                                      </th>
                                      <th role="columnheader" class="" scope="col">
                                        First name
                                      </th>
                                      <th role="columnheader" class="" scope="col">
                                        Last name
                                      </th>
                                      <th role="columnheader" class="" scope="col">
                                          Date of birth
                                      </th>
                                      <th role="columnheader" scope="col">
                                          PIN
                                      </th>
                                      <th role="columnheader" scope="col">
                                          Address
                                      </th>
                                     
                                  </tr>
                              </thead>
                              <tbody class="nhsuk-table__body">

                                  <tr role="row" class="nhsuk-table__row ohs-table-no-last-row-border">
                                      <td role="cell" class="nhsuk-table__cell">
                                          <a href="ohs-step-1-person" target="_blank"><span class="nhsuk-table-responsive__heading">OHS reference </span>1234567</a>
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">First name </span>Geralt
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Last name </span>Rivia
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Date of birth 
                                          </span>3 Dec 1950
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">PIN </span>JG 08 23 89 A
                                      </td>
                                      <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Address </span>17 place du Trocadéro<br> 75016<br> Paris<br> France
                                          
                                      </td>
                                      
                                  </tr>
                              </tbody>
                          </table>
                      </div>   
                        
                    </div>

                </div>

                <!-- Entitlement table -->

            </div>
            <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                    <h3 class="nhsuk-heading-m">Entitlements</h3>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-6">
                                <!-- <caption class="nhsuk-table__caption">Showing results for: All treatments</caption>  -->
                                <thead role="rowgroup" class="nhsuk-table__head">
                                    <tr role="row">
                                        <th role="columnheader" class="" scope="col">
                                            Type
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            Start date
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            End date
                                        </th>
                                        <th role="columnheader" scope="col">
                                            Main or dependant
                                        </th>
                                        <th role="columnheader" scope="col">
                                            Country
                                        </th>
                                        <th role="columnheader" style="text-align: right;" scope="col">
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
    
                                    <tr role="row" class="nhsuk-table__row ohs-table-no-last-row-border">
                                        <td role="cell" class="nhsuk-table__cell" style="vertical-align: middle;">
                                            <span class="nhsuk-table-responsive__heading">Type </span>S072
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell" style="vertical-align: middle;">
                                            <span class="nhsuk-table-responsive__heading">Start date </span>30 Oct 2024
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell" style="vertical-align: middle;">
                                            <span class="nhsuk-table-responsive__heading">End date 
                                            </span>31 Oct 2024
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell" style="vertical-align: middle;">
                                            <span class="nhsuk-table-responsive__heading">Main or dependant </span>Main
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell" style="vertical-align: middle;">
                                            <span class="nhsuk-table-responsive__heading">Country</span>France
                                            
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell" style="vertical-align: middle; text-align: right;">
                                            <span class="nhsuk-table-responsive__heading">Status  
                                            </span><strong class="nhsuk-tag nhsuk-tag--green">Issued</strong>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- in-page OHS Matched record - No S045 found - End -->
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block pageScripts %}
<!-- Close button scripts -->
<script src="/js/autocomplete2.min.js"></script>
<script type="text/javascript">
  function closeBanner() { 
    document.getElementById("govuk-notification-banner").style.display="none"; 
  }
</script>
{% endblock %}