<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends '../layout-mvp2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <p style="margin-left: 56px; margin-top:72px;display:block;">Case #27341 - <strong class="nhsuk-tag nhsuk-tag--yellow">Reply sent</strong>   S072, sent at 17:34 <a href="#" style="margin-left: 56px;">View case</a></p>
    <div class="nhsuk-header__navigation" style="padding-top: 62px;">

      <h1 class="nhsuk-heading-l">Work queue</h1>

      <a href="mvp2-dashboard-updated">Click to continue</a>
      
      
      

  </div>

</div>
{% endblock %}
