<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mvp2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Service RINA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!--<nav class="nhsuk-breadcrumb clearfix" aria-label="Breadcrumb">

    <div class="nhsuk-grid-column-one-half">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="ohs-record-manage-case">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="ohs-record-manage-case">Case management ID 78793</a></li>
      </ol>
    </div>
    

  </nav>-->
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
          
<!-- Content - Start -->
<div class="nhsuk-width-container-fluid clearfix ul-padding-top-lrg">
    
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-9">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-xl" style="margin-bottom: 0;">
            Decision on entitlement
          </h1>
        </legend>
    
        <div class="nhsuk-radios">
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="uk_state_pensioner" name="issued-rejected" type="radio" value="Issued">
            <label class="nhsuk-label nhsuk-radios__label" for="uk_state_pensioner">
              Entitlement issued
            </label>
          </div>
          
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="pension_claimant" name="issued-rejected" type="radio" value="Rejected">
            <label class="nhsuk-label nhsuk-radios__label" for="pension_claimant">
              Entitlement rejected
            </label>
          </div>

          <button class="nhsuk-button nhsuk-u-margin-top-6" onclick="handleContinue()" data-module="nhsuk-button" type="continue">
            Submit
          </button>
        </div>
      </fieldset>
      </div>

    </div>
</div>

{% endblock %}
{% block pageScripts %}

<!-- Radio button scripts -->

<script>
  function handleContinue() {
    const selected = document.querySelector('input[name="issued-rejected"]:checked');
    const result = document.getElementById('result');

    if (selected) {
      const value = selected.value;

      if (value === 'Issued') {
        window.location.href = 'pw-issued-case-decision-notification';
      } else if (value === 'Rejected') {
        window.location.href = '../posted-worker-rejected/pw-issued-case-decision-notification';
      }
    } else {
      result.textContent = "Please select an option before continuing.";
    }
  }
</script>
{% endblock %}